body{
	 background-color: #d6aea4;
}

.title {
    width: 70%;
	margin-top: -15%;
	margin-left: 13%;
	margin-bottom: 2%;
}

h1{
	font-size: 20px;
	margin-left: 39%;
	margin-top: -23%;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.block_02{
	position : fixed; 
	display: block;
}

.dogs_01 {
	position : fixed; 
    width: 30%;
margin-top: 5%;
margin-left: 60%;
}

.note {
	position : fixed; 
    width: 8%;
margin-top: 10%;
margin-left: 45%;
}

.dogs_02 {
	position : fixed; 
    width: 30%;
margin-top: 3.3%;
margin-left: 3%;
}

body {
	background-color: #D8B1A4;
	margin: 0;
}
body div#header img#logo {
	height: 50px;
	width: 135px;
	margin-right: 20px;
	float: right;
}
body div#header img#menu {
	height: 75px;
	width: 100px;
	float: left;
}
body div#header img {
	margin-top: 20px;
}
body div#header a:active {
	border: none;
	text-decoration: none;
}
body div#header a:visited {
	border: none;
	text-decoration: none;
}
body div#header {
	background-color: #DEBDB2;
	height: 100px;
	width: 100%;
	margin: 0;
	margin-bottom: 100px;
}
body #dogs {
	position: relative;
	width: 484px;
	height: 244px;
	margin: 0 auto;
}
body #dogs img {
	width: 484px;
	height: 244px;
}
body #piano-tiles {
	margin: 0 auto;
	width: 550px;
}
body #piano-tiles, body #dogs {
	display: block;
}
body #piano-tiles > .piano-tile {
	width: 73px;
	height: 316px;
	display: inline-block;
}
body #piano-tiles > .piano-tile img {
	width: 73px;
	height: 316px;
}
